<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- nav bar -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-success">
      <div class="container-fluid">
        <!-- application name -->
        <a class="navbar-brand" href="/home-page">
          <img
            src="/assets/feastly.png"
            alt="feastly logo"
            width="100"
            height="100"
            class="d-inline-block align-text-top ms-3"
          />
        </a>

        <!-- when the screen becomes small, the links in the nav bar switches to a button -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navigation links -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#about-us">About Us</a>
            </li>
            <li class="nav-item">
              <!-- logout button to end user session -->
              <form action="/accounts/logout" method="POST" class="d-inline">
                <button type="submit" class="btn btn-link nav-link">
                  Logout
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- display group name -->
    <br />
    <h1><%= group.group_name %></h1>
    <br />

    <!-- page nav tabs -->
    <div class="d-flex justify-content-center">
      <ul class="nav nav-tabs" id="groupTabs" role="tablist">
        <li class="nav-item me-3" role="presentation">
          <a
            class="nav-link active"
            id="general-tab"
            data-bs-toggle="tab"
            href="#general"
            role="tab"
            aria-controls="general"
            aria-selected="true"
          >
            General
          </a>
        </li>

        <li class="nav-item me-3" role="presentation">
          <a
            class="nav-link"
            id="food-tab"
            data-bs-toggle="tab"
            href="#food"
            role="tab"
            aria-controls="food"
            aria-selected="false"
          >
            Food
          </a>
        </li>

        <li class="nav-item me-3" role="presentation">
          <a
            class="nav-link"
            id="shopping-tab"
            data-bs-toggle="tab"
            href="#shopping"
            role="tab"
            aria-controls="shopping"
            aria-selected="false"
          >
            Shopping list
          </a>
        </li>
      </ul>
    </div>

    <!-- tab content -->
    <div class="tab-content" id="groupTabsContent">
      <!-- general tab -->
      <div
        class="tab-pane fade show active"
        id="general"
        role="tabpanel"
        aria-labelledby="general-tab"
      >
        <div class="mt-3">
          <p>Description: <%= group.group_description %></p>
          <p>Location: <%= group.group_meet_location %></p>
          <p>Date: <%= group.group_meet_date %></p>
          <p>Time: <%= group.group_meet_time %></p>

          <h2>Members</h2>
          <ul>
            <% members.forEach(member => { %>
            <li><%= member.user_name %></li>
            <% }); %>
          </ul>
        </div>
      </div>

      <!-- food tab -->
      <div
        class="tab-pane fade"
        id="food"
        role="tabpanel"
        aria-labelledby="food-tab"
      >
        <!-- voting table -->
        <div class="mt-3">
          <div class="container mt-4">
            <!-- header -->
            <h2 class="text-center">Voting</h2>

            <div class="card mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <!-- suggested items column -->
                    <h5>Suggested Items</h5>
                    <form action="/planner/vote" method="POST">
                      <input
                        type="hidden"
                        name="groupId"
                        value="<%= group.group_id %>"
                      />
                      <table class="table">
                        <tbody>
                          <% groupFood.forEach(food => { %>
                          <tr>
                            <td>
                              <input
                                type="radio"
                                name="foodId"
                                value="<%= food.food_id %>"
                              />
                            </td>
                            <!-- a program will provide a food suggestion here -->
                            <td><p><%= food.food_name %></p></td>
                          </tr>
                          <% }); %>
                        </tbody>
                      </table>

                      <!-- submit vote button -->
                      <button type="submit" class="btn btn-dark">
                        Submit Vote
                      </button>
                    </form>
                  </div>

                  <!-- confirmed item column, after the voting is finalized -->
                  <div class="col-md-6">
                    <h5>Confirmed Items</h5>
                    <table class="table">
                      <!-- display the food suggestion with the most votes here -->
                      <tbody>
                        <tr>
                          <td>✔️ Food suggestion</td>
                          <!-- button for the user to start cooking the food suggestion -->
                          <td>
                            <button class="btn btn-dark">
                              Cook with Assistant
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <button class="btn btn-dark">Finalise menu</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- shopping list tab -->
      <div
        class="tab-pane fade"
        id="shopping"
        role="tabpanel"
        aria-labelledby="shopping-tab"
      >
        <div class="mt-3">
          <p>shopping list code here</p>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer class="bg-success-subtle text-center p-3 mt-5">
      <a href="/#about-us">About Us</a>
      <p>&copy; 2025 Feastly</p>
    </footer>

    <!-- bootstrap popper for the dropdowns in navbar -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
